/* slideshow */

.slideshow-options {
  margin-bottom: 2rem;
}

.slideshow-options h5 {
  margin: 2rem 0 0.5rem 0;
}

.slideshow-options h5:first-of-type {
  margin-top: 1rem;
}

.slideshow-refinements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.slideshow-refinements input[type="number"] {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .slideshow-refinements {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* html with alternates */
#html-with-alternate-templates-wrapper {
  display: none;
}

#html-with-alternate-wrapper label {
  display: block;
}

#html-with-alternate-wrapper select {
  width: 50%;
}

.html-with-alternate-remove {
  margin-top: 1rem;
  text-align: right;
}

#add-html-with-alternate-alternate {
  margin-top: 1rem;
}

.html-with-alternate-wrapper .field .field-meta, 
.html-with-alternate-wrapper .field .inputs {
  width: 100%;
}

.alternates-grid {
  border-bottom: 1px solid #ddd;
}