div[class^=alternate-option-] {
    display: none;
}

div[class^=alternate-option-].active {
    display: block;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}